<app-headermenu></app-headermenu>

<section id="content">
    <br />
    <h1 style="text-align: center;">Lista de Usuarios</h1>
  
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Correo</th>
            <th>Fecha de Creación</th>
            <th>Última Modificación</th>
          </tr>
        </thead>
        <tbody id="tablaUsuarios">
          <tr *ngFor="let cliente of clients">
            <td>{{ cliente.correo }}</td>
            <td>{{ cliente.created_at | date }}</td>
            <td>{{ cliente.updated_at | date }}</td>
          </tr>
          
          <tr *ngFor="let empleado of employees">
            <td>{{ empleado.correo }}</td>
            <td>{{ empleado.created_at | date }}</td>
            <td>{{ empleado.updated_at | date }}</td>
          </tr>
        
          <tr *ngIf="clients.length === 0 && employees.length === 0">
            <td colspan="3" class="no-data">No hay Usuarios Disponibles</td>
          </tr>
        </tbody>
      </table>
    </div>
</section>