<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-title>
     Productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar mode = "ios">
      <ion-icon routerLink = "/Perfil" name="arrow-back-circle-outline" size = "large"></ion-icon>
      <ion-title>Productos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Productos que se manejan </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <!-- Primer Corte -->
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="cera" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Cera</ion-label>
          <ion-badge color="danger">$130</ion-badge>
        </ion-item>
        <ion-label>Cera para cabello</ion-label>

        <!-- Segundo Corte -->
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="cera" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Cera</ion-label>
          <ion-badge color="danger">$130</ion-badge>
        </ion-item>
        <ion-label>Cera para el cabello.</ion-label>

        <!-- Tercer Corte -->
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="cera" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Cera</ion-label>
          <ion-badge color="danger">$130</ion-badge>
        </ion-item>
        <ion-label>Cera para el cabello.</ion-label>

        <!-- Cuarto Corte -->
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="cera" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Cera</ion-label>
          <ion-badge color="danger">$130</ion-badge>
        </ion-item>
        <ion-label>Cera para el cabello.</ion-label>

        <!-- Quinto Corte -->
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="cera" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Cera</ion-label>
          <ion-badge color="danger">$130</ion-badge>
        </ion-item>
        <ion-label>Cera para cabello</ion-label>
      </ion-list>

      <!-- Botón para agendar cita -->
      <ion-button routerLink="/carrito" expand="block" shape="round">
        Ir al carrito
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>


