<app-headermenu></app-headermenu>

<section id="content">
    <br />
    <h1 style="text-align: center;">Lista de Clientes</h1>
    <button id="btnAgregar" class="btnAgregar" (click)="openAddModal()">
      <i class='bx bx-user-plus'></i> Agregar Cliente
    </button>
  
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Teléfono</th>
            <th>Fecha de Creación</th>
            <th>Ultima Modificación</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody id="tablaClientes">
          <tr *ngFor="let client of clients">
            <td>{{ client.nombre }}</td>
            <td>{{ client.appaterno }}</td>
            <td>{{ client.apmaterno }}</td>
            <td>{{ client.telefono }}</td>
            <td>{{ client.created_at | date }}</td>
            <td>{{ client.updated_at | date }}</td>
            <td>
              <button (click)="openEditModal(client)"><i class='bx bx-edit'></i></button>
              <button (click)="openDeleteModal(client)"><i class='bx bx-trash'></i></button>
            </td>
          </tr>
          <tr *ngIf="clients.length === 0">
            <td colspan="7" class="no-data">No hay Clientes Disponibles</td>
          </tr>
        </tbody>
      </table>
    </div>

       <!-- Modal para agregar/editar cliente -->
<div id="modal" class="modal" *ngIf="showAddModal || showEditModal">
  <div class="modal-contenido">
    <span (click)="showAddModal ? closeAddModal() : closeEditModal()" class="cerrar">&times;</span>
    <h2>{{ showAddModal ? 'Agregar Cliente' : 'Editar Cliente' }}</h2>
    <form [formGroup]="clientsForm" (ngSubmit)="showAddModal ? addClients() : updateClients()">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" formControlName="nombre" required placeholder="Ingrese el Nombre" (keypress)="onKeyPress($event)" maxlength="40"/>
      <span *ngIf="clientsForm.get('nombre')?.invalid && clientsForm.get('nombre')?.touched" class="error-message">
        El Nombre es obligatorio
      </span>
      <span *ngIf="clientsForm.get('nombre')?.errors?.['soloLetras']">Solo se permiten letras y espacios</span>
      <label for="appaterno">Apellido Paterno:</label>
      <input type="text" id="appaterno" formControlName="appaterno" required placeholder="Ingrese el Apellido Paterno" (keypress)="onKeyPress($event)"  maxlength="40"/>
      <span *ngIf="clientsForm.get('appaterno')?.invalid && clientsForm.get('appaterno')?.touched" class="error-message">
        El Apellido Paterno es obligatorio
      </span>
      <span *ngIf="clientsForm.get('appaterno')?.errors?.['soloLetras']">Solo se permiten letras y espacios</span>
      <label for="apmaterno">Apellido Materno:</label>
      <input type="text" id="apmaterno" formControlName="apmaterno" required placeholder="Ingrese el Apellido Materno" (keypress)="onKeyPress($event)"  maxlength="40"/>
      <span *ngIf="clientsForm.get('apmaterno')?.invalid && clientsForm.get('apmaterno')?.touched" class="error-message">
        El Apellido Materno es obligatorio
      </span>
      <span *ngIf="clientsForm.get('apmaterno')?.errors?.['soloLetras']">Solo se permiten letras y espacios</span>
      <label for="telefono">Telefono:</label>
      <input type="text" id="telefono" formControlName="telefono" required placeholder="Ingrese el Telefono" (keypress)="soloNumeros($event)" (input)="limitarLongitud($event, 10)"/>
      <span *ngIf="clientsForm.get('telefono')?.invalid && clientsForm.get('telefono')?.touched" class="error-message">
        El Telefono es obligatorio
      </span>
      <label for="idusuario">ID Usuario:</label>
      <input type="text" id="idusuario" formControlName="idusuario" required placeholder="Ingrese el ID del Usuario" (keypress)="soloNumeros($event)" (input)="limitarLongitud($event, 10)"/>
      <span *ngIf="clientsForm.get('idusuario')?.invalid && clientsForm.get('idusuario')?.touched" class="error-message">
        El ID es obligatorio
      </span>
      <button type="submit">
        <i class="bx bx-save"></i> {{ showAddModal ? 'Guardar' : 'Actualizar' }}
      </button>
    </form>
  </div>
</div>

<!-- Modal de confirmación para eliminar cliente -->
<div id="modalConfirmacion" class="modal" *ngIf="showDeleteModal">
  <div class="modal-contenido">
    <p>¿Quieres eliminar este cliente?</p>
    <button class="btnEliminar" (click)="deleteClients()">
      <i class="bx bx-trash"></i> Eliminar
    </button>
    <button (click)="closeDeleteModal()">Cancelar</button>
  </div>
</div>
</section>
