<app-headermenu></app-headermenu>

<section id="content">
    <br>
    <div id="inicio" class="page">
        <h1 style="text-align: center;">Inicio</h1>
        <div class="graficas-container">
            <!-- Gráfica 1 -->
            <div class="grafica">
                <canvas id="miGrafica1"></canvas> <!-- Cambié el id a miGrafica1 -->
            </div>
            <!-- Gráfica 2 -->
            <div class="grafica">
                <canvas id="miGrafica2"></canvas> <!-- Cambié el id a miGrafica2 -->
            </div>
        </div>
    </div>
</section>